[submodule "Dualpanto App Launcher/Assets/unity-dualpanto-framework"]
	path = Dualpanto App Launcher/Assets/unity-dualpanto-framework
	url = git@github.com:HassoPlattnerInstituteHCI/unity-dualpanto-framework
